<ul class='custom-nav nav nav-tabs'>
	<li class='<%= active_page?(root_path) %>'>
		<%= link_to '', root_path, class: 'glyphicon glyphicon-home' %>
	</li>
	
  <% if current_user %>
    <%= render 'shared/employee_nav_tab' if employee? %>

    <%= render 'shared/admin_nav_tab' if admin? %>

    <ul class='nav navbar-nav pull-right'>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  
  <% else %>
    <ul class='nav navbar-nav pull-right'>
      <li>
        <%= link_to 'Log In', new_user_session_path %>
      </li>
    </ul>
  <% end %>

	
</ul>
