<% pending_approvals.each do |pending_approval| %>
<div class="homepage-block col-md-3">
  <h4><%= pending_approval.user.full_name %></h4>
  <p><strong>OT Date:</strong> <%= pending_approval.date %></p>
  <p><strong>Rationale:</strong> <%= truncate(pending_approval.rationale, length: 60)%></p>
  <div class="row">
    <div class="col-md-6"><%= link_to 'Approve', root_path, class: 'btn btn-success' %></div>
    <div class="col-md-6"><%= link_to 'Review', root_path, class: 'btn btn-warning' %></div>
  </div>
</div>
<% end %>
